<% if current_user %>
    <div class="row">
      <%= link_to t('dashboard.profile', resource: User.model_name.human), edit_user_registration_path, {class: 'btn btn-default'} %>
      <%= link_to t('dashboard.logs'), dashboard_logs_path, {class: 'btn btn-default'} %>
    </div>

    <% if current_user.is_admin? %>
        <br/>
        <div class="row">
          <%= link_to t('dashboard.leave_wrods'), leave_words_path, {class: 'btn btn-default'} %>
          <%= link_to t('dashboard.notices'), notices_path, {class: 'btn btn-default'} %>
          <%= link_to t('dashboard.site.info'), site_info_path, {class: 'btn btn-default'} %>
          <%= link_to t('dashboard.site.seo'), site_seo_path, {class: 'btn btn-default'} %>
          <% %w(about faq help).each do |title|%>
              <%= link_to t("dashboard.site.#{title}"), site_page_path(title:title), {class: 'btn btn-default'} %>
          <% end %>
        </div>
    <% end %>
<% end %>