<hr>
<footer>
  <p class="pull-right">
    <a title="<%= t('languages.en') %>" href="<%= url_for(locale: :en) %>">
      <%= image_tag 'famfamfam-flags/dist/png/us.png' %>
    </a>
    <a title="<%= t('languages.zh-CN') %>" href="<%= url_for(locale: 'zh-CN') %>">
      <%= image_tag 'famfamfam-flags/dist/png/cn.png' %>
    </a>
  </p>
  <p><%= Setting.get_site_info :copyright %></p>
</footer>