<% @title = t "dashboard.site.#{@key}" %>
<div class="row">
  <p class="markdown"><%= Setting.get_page @key %></p>
</div>
<br/>
<fieldset>
  <legend><%= t 'home.leave_a_message' %></legend>
  <% @lw = LeaveWord.new %>
  <%= simple_form_for @lw do |f| %>
      <input type="hidden" name="back" value="<%= request.fullpath %>">
      <%= f.input :content, input_html:{rows: 10} %>
      <%= f.button :submit %>
  <% end %>
</fieldset>