<fieldset>
  <legend><%= @title = t "dashboard.site.#{params[:title]}" %></legend>
  <%= form_tag do %>
      <%= hidden_field_tag :title, params[:title]%>
      <div class="form-group">
        <%= text_area_tag :body, Setting.get_page(params[:title]), {class: 'form-control'} %>
      </div>
      <%= submit_tag t('buttons.update'), {class: 'btn btn-default'} %>
  <% end %>
</fieldset>
