<% content_for :root do %>
    <%= render 'shared/header' %>
    <div class="container">
      <%= render 'shared/devise_notices' %>
      <br/>
      <%= yield %>
      <%= render 'shared/footer' %>
    </div>
<% end %>

<%= render file: 'layouts/base' %>